GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
MONGO_URI=your-mongo-uri
COOKIE_KEY=your-cookie-key
REDIS_URL=redis://127.0.0.1:6379
ACCESS_KEY_ID=your-s3-key
SECRET_ACCESS_KEY=your-s3-secret
